---
title: Over deze pagina voor jou
layout: base.njk
---

<div class="container">
  <h1>Dit is een pagina voor jou!</h1>
  <p>Hij is gemaakt voor jou met HTML, CSS en JavaScript. En beschikbaar als een JAMStack webstek.</p>
</div>
