---
title: Een pagina voor jou
layout: base.njk
---

<div class="container">
  <h1>Dit is een pagina voor jou</h1>
  <div class="vibe">Je bent geweldig!</div>
  <div class="love">
    ❤️
  </div>

  <ul>
  {% for article in news.articles %}
    <li>
      <h2><a href={{ article.url }}>{{ article.title }}</a></h2>
      <span>{{ article.source.name }} - <time>{{ article.publishedAt }}</time></span>
    </li>
  {% endfor %}
  </ul>
</div>
<script src="/js/vibe.js"></script>
